*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	scroll-behavior: smooth;
}

header {
	background: #1A2238;
	color: #eaeaea;
	display: flex;
	align-items: center;
	padding: 15px 30px;
}

.logo {
	margin-right: auto;
	display: flex;
	gap: 15px;
}

.logo-img {
	width: 35px;
	height: 35px;
	margin-left: 10px;
}

.logo-title {
	cursor: pointer;
	transition: all .5s ease 0s;
}

.logo:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}

nav ul {
	display: flex;
	gap: 30px;
}

li {
	list-style: none;
}

a {
	color: #eaeaea;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #FF6A3D;
}

.btn-cta {
	border: none;
	font-size: 16px;
	padding: 8px 16px;
	background: #FF6A3D;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}

.btn-cta:hover {
	background: #9DAAF2;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 20px;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 15px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.description {
	font-size: 28px;
	font-weight: bolder;
}

.img-foto {
	width: 100%;
	max-width: 500px;
	height: auto;
	padding: 10px;
}

.parallax {
	background-image: url('asssets/foto/gweh2.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.overlay {
	background: rgba(26, 34, 56, 0.85);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tentang {
	text-align: center;
	color: #eaeaea;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* ================= CARDS ================= */

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: -100px;
	position: relative;
	z-index: 2;
}

.cards-item {
	width: 300px;
	background: #ffffff;
	color: #222;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.2);
	text-align: center;
}

.cards-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.cards-description {
	font-size: 14px;
	line-height: 1.6;
}

.icon {
	width: 50px;
	height: 50px;
}

footer {
	padding: 20px;
	text-align: center;
	background: #1A2238;
	color: #eaeaea;
}

@media(max-width: 768px) {

	header {
		flex-direction: column;
		gap: 0px;
	}

	.cards {
		margin-top: 0;
	}

	.cards-item {
		width: 90%;
		background: none;
	}

	nav {
		position: fixed;
		bottom: 0;
		background: #1A2238;
		z-index: 9;
		width: 100%;
	}
	
	footer {
		margin-bottom: 80px;
	}
}